body {
    font-family: Segoe UI;
    font-size: 16px;
    background-image: url('img/bg.jpg');
    font-weight: 600;
    user-select: none;
}


#click{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(95, 98, 255);
    position: absolute;
    top: calc( 50% - 50px);
    left: calc( 50% - 50px);
    cursor: pointer;
    box-shadow: 0 0 5px #333;
}
#click:hover {
    background-color: rgb(74, 76, 209);
    box-shadow: 0 0 8px #333;
}
#click:active {
    background-color: rgb(61, 63, 189);
    width: 90px;
    height: 90px;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    box-shadow: 0 0 3px #333;
}


#scoreboard{
    width: 90px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 15px;
    padding: 10px 0;
    font-weight: 700;
}


#hp{
    width: 100px;
    height: 50px;
    text-align: center;
    position: absolute;
    top:22px;
    left:calc(50% - 50px);
    z-index: 5;
}
#hpBoard{
    width: 200px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: calc( 50% - 100px );
    background-color: gray;
    border-radius: 6px;
    box-shadow: 0 0 5px #333;
}
#hpNow{
    width: 200px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: calc( 50% - 100px );
    background-color: lightgreen;
    border-radius: 6px;
}


.button {
    background-color:violet;
    cursor: pointer;
    box-shadow: 0 0 5px #333;
    padding: 7px 12px 6px 12px;
    border-radius: 6px;
    text-align: center;
    width: 80px;
    height: 50px;
    position: absolute;
}
.button:hover {
    background-color:rgb(190, 106, 190);
    box-shadow: 0 0 8px #333;
}
.button:active {
    background-color:rgb(161, 90, 161);
    box-shadow: 0 0 3px #333;
}
.button p {
    margin-top: 12px;
}


#upgradeBtn{
    bottom:10px;
    left:10px;
}
#autoDamage{
    bottom:10px;
    left:125px;
}
#newGame {
    position: absolute;
    right: 10px;
    bottom: 10px;
}


.stats {
    padding: 10px;
    width: 120px;
    height: 70px;
    margin-left: auto;
    margin-right: 0;
}
.char {
    padding-bottom: 5px;
    font-weight: 700;
}
